api.tekit.click {
  encode gzip
  reverse_proxy * backend:3088 {
    header_up Host {host}
    header_up X-Real-IP {http.request.remote.host}
  }
}

tekit.click {
  encode gzip
  reverse_proxy * frontend:5173 {
    header_up Host {host}
    header_up X-Real-IP {http.request.remote.host}
  }
}

www.tekit.click {
  redir https://tekit.click{uri}
}
