services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
      args:
        DB_HOST: ${DB_HOST}
        PORT: ${PORT}
        CORS_ORIGIN: ${CORS_ORIGIN}
        DB_USERNAME: ${DB_USERNAME}
        DB_PASSWORD: ${DB_PASSWORD}
        DB_PORT: ${DB_PORT}
        DB_DATABASE: ${DB_DATABASE}
        OAUTH_REDIRECT_URI: ${OAUTH_REDIRECT_URI}
        OAUTH_KAKAO_CLIENT_ID: ${OAUTH_KAKAO_CLIENT_ID}
        OAUTH_KAKAO_CLIENT_SECRET: ${OAUTH_KAKAO_CLIENT_SECRET}
        OAUTH_KAKAO_REDIRECT_URI: ${OAUTH_KAKAO_REDIRECT_URI}
        JWT_SECRET: ${JWT_SECRET}
        JWT_ACCESS_EXPIRES_IN: ${JWT_ACCESS_EXPIRES_IN}
        JWT_REFRESH_EXPIRES_IN: ${JWT_REFRESH_EXPIRES_IN}
        AWS_REGION: ${AWS_REGION}
        AWS_ACCESS_KEY: ${AWS_ACCESS_KEY}
        AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
        AWS_S3_BUCKET: ${AWS_S3_BUCKET}
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
      DB_URL: postgresql://${DB_USERNAME}:${DB_PASSWORD}@db:5432/${DB_DATABASE}
      JWT_SECRET: ${JWT_SECRET}

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        VITE_API_HOST: ${VITE_API_HOST}
        VITE_KAKAO_REST_API_KEY: ${VITE_KAKAO_REST_API_KEY}
        VITE_OAUTH_REDIRECT_URI: ${VITE_OAUTH_REDIRECT_URI}
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./ssl:/etc/nginx/ssl:ro

certbot:
  image: certbot/certbot
  volumes:
    - ./ssl:/etc/letsencrypt
    - ./certbot/www:/var/www/certbot
  entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  postgres_data:
