@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@import 'tailwindcss';

body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;

  -webkit-font-smoothing: antialiased;
}

#root {
  overflow-x: hidden;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

html {
  font-size: 16px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='date'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='date']::-webkit-date-and-time-value {
  text-align: left;
}

@theme {
  --spacing: 1px;

  --breakpoint-*: initial;
  --breakpoint-base: 475px;
  --breakpoint-mobile: 500px;

  --max-width-base: 475px;
  --max-width-mobile: 450px;
  --max-width-modal: 358px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #f62a2a;
  --color-blue-50: #eef7ff;
  --color-blue: #2787fe;
  --color-green-50: #e1f4eb;
  --color-green-500: #0d884f;
  --color-brand-50: #f0f6ff;
  --color-brand-100: #d4e4ff;
  --color-brand-500: #3182f6;
  --color-brand-600: #2272eb;
  --color-brand-700: #1b64da;
  --color-brand-900: #0f4c99;
  --color-grey-50: #f4f5f8;
  --color-grey-100: #dedee4;
  --color-grey-200: #a9aab4;
  --color-grey-300: #818491;
  --color-grey-400: #696c7c;
  --color-grey-500: #43475b;
  --color-grey-600: #3d4153;
  --color-grey-700: #303241;
  --color-grey-800: #252732;
  --color-grey-900: #1c1e26;
  --color-primary: #2787fe;

  --z-index-modal: 1000;
  --z-index-dim: 999;
  --z-index-header: 998;
}
